@model BlogMaGiam.ViewModel.ChangeNewViewModel
@using Common;
@{
    Layout = null;
}

<div class="modal-header">

    @if (Model.Data.id == 0)
    {
        <h5 class="modal-title" id="exampleModalLongTitle">Add new </h5>
    }
    else
    {
        <h5 class="modal-title" id="exampleModalLongTitle">Update new </h5>
    }

    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">
    <div class="col-md-12">

        <div class="card card-primary card-outline">
            
            <!-- /.card-header -->
            <div class="card-body">
                <form id="form-change">
                    <input class="form-control" placeholder="id" id="id" name="model.id" value="@Model.Data.id" hidden>
                    <div class="form-group">
                        <label>Link <span class="message-danger">(*)</span></label>
                        <input class="form-control" placeholder="Code" id="code" name="model.code" value="@Model.Data.code">
                        <span class="message-danger-error" id="code-message-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>Title </label>
                        <input class="form-control" placeholder="Title" id="title" name="model.title" value="@Model.Data.title">
                    </div>
                    <div class="form-group">
                        <label>Image </label>
                        <input class="form-control" placeholder="Image" id="image" name="model.image" value="@Model.Data.image">
                    </div>
                    <div class="form-group">
                        <label>Link </label>
                        <input class="form-control" placeholder="Link" id="link" name="model.link" value="@Model.Data.link">
                    </div>
                    <div class="form-group">
                        <label>Type new<span class="message-danger">(*)</span></label>
                        <select class="form-control select2" id="type" name="model.type" @(Model.Data.type_merchant==0 ?"selected" : "")>
                            <option value="">
                                ---Selected type new
                            </option>
                            @if (Model.TypeNews != null && Model.TypeNews.Count > 0)
                            {
                                foreach (var item in Model.TypeNews)
                                {
                                    string selected = string.Empty;
                                    if (item.id==Model.Data.type)
                                    {
                                        selected = "selected";
                                    }
                                    <option value="@item.id" @selected>
                                        @item.name
                                    </option>
                                }
                            }
                        </select>
                        <span class="message-danger-error" id="type-message-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>Type merchant<span class="message-danger">(*)</span></label>
                        <select class="form-control select2" id="type_merchant" name="model.type_merchant">
                            <option value="" @(Model.Data.type_merchant==0 ?"selected" : "")>
                                ---Selected type merchant
                            </option>
                            @if (Model.TypeNews != null && Model.TypePromotions.Count > 0)
                            {
                                foreach (var item in Model.TypePromotions)
                                {
                                    string selected = string.Empty;

                                    if (item.id == Model.Data.type_merchant)
                                    {
                                        selected = "selected";
                                    }
                                    <option value="@item.id" @selected>
                                        @item.name
                                    </option>
                                }
                            }
                        </select>
                        <span class="message-danger-error" id="type_merchant-message-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>Content </label>
                        <textarea id="content" name="model.content" class="form-control" style="height: 300px">@Model.Data.content</textarea>
                    </div>
                </form>
                
            </div>            
        </div>
        <!-- /.card -->
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <button type="button" class="btn btn-primary" onclick="_newJs.change()">Save changes</button>
</div>

<script>
    $(function () {
        //Add text editor
        $('#content').summernote()
        $('.select2').select2()
    })
</script>